<!--新規投稿フォーム、投稿編集フォーム-->
<div class="form-group field">
  <%= f.label :"イメージ画像" %><br>
  <%= f.file_field :image, accept: "image/*" %>
</div>
<div class="form-group field">
  <%= f.label :"タグ ※最大5個まで", class: "control-label" %><br>
  <%= f.text_field :tag, value: post.tags.pluck(:name), placeholder: "野球 キャッチボール 初心者", class: "form-control col-sm-6" %>
</div>
<div class="form-group field">
  <%= f.label :"タイトル", class: "control-label" %>
  <%= f.text_field :title, placeholder: "キャッチボール", class: "form-control col-sm-6" %>
</div>
<div class="form-group field">
  <%= f.label :"日時", class: "control-label" %>
  <%= f.datetime_field :since_when, class: "form-control col-sm-6" %>
</div>
<div class="form-group field">
  <%= f.label :"場所", class: "control-label" %>
  <%= f.text_field :at_where, placeholder: "テスト公園", class: "form-control col-sm-6" %>
</div>
<div class="form-group field">
  <%= f.label :"持ち物", class: "control-label" %>
  <%= f.text_field :for_playing, placeholder: "グローブ", class: "form-control col-sm-6" %>
</div>
<div class="form-group field">
  <%= f.label :"詳細情報", class: "control-label" %>
  <%= f.text_area :body, placeholder: "宜しくお願いします", class: "form-control col-sm-6" %>
</div>
<div class="form-group field">
  <%= f.label :"公開" %>
  <%= f.radio_button :status, :public %><br>
  <%= f.label :"非公開（下書き）" %>
  <%= f.radio_button :status, :private %>
</div>