<!--新規投稿フォーム、投稿編集フォーム-->
<div class="form-group field">
  <%= f.label :"イメージ画像" %><br>
  <%= f.file_field :image, accept: "image/*" %>
</div>
<div class="form-group field">
  <%= f.label :"タグ", class: "control-label" %><br>
  <%= f.text_field :tag, value: post.tags.pluck(:name).join(','), placeholder: "タグをカンマ( , )区切りで入力(例 サッカー, リフティング)", class: "form-control col-sm-6" %>
</div>
<div class="form-group field">
  <%= f.label :"タイトル", class: "control-label" %>
  <%= f.text_field :title, class: "form-control col-sm-6" %>
</div>
<div class="form-group field">
  <%= f.label :"日時", class: "control-label" %>
  <%= f.text_field :time, class: "form-control col-sm-6" %>
</div>
<div class="form-group field">
  <%= f.label :"場所", class: "control-label" %>
  <%= f.text_field :place, class: "form-control col-sm-6" %>
</div>
<div class="form-group field">
  <%= f.label :"持ち物", class: "control-label" %>
  <%= f.text_field :belonging, class: "form-control col-sm-6" %>
</div>
<div class="form-group field">
  <%= f.label :"詳細情報", class: "control-label" %>
  <%= f.text_area :body, class: "form-control col-sm-6" %>
</div>
<div class="form-group field">
  <%= f.label :"公開" %>
  <%= f.radio_button :status, :public %><br>
  <%= f.label :"非公開（下書き）" %>
  <%= f.radio_button :status, :private %>
</div>