<!--投稿一覧テーブルのtbody部分-->
<tbody>
  <tr>
    <td><%= image_tag post.get_image(100, 100) %></td>
    <td><%= post.user.display_name %></td>
    <td><%= post.title %></td>
    <td>
      <% post.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </td>
    <td><%= post.time %></td>
    <td><%= post.place %></td>
    <td style="color: red">♥<%= post.favorites.count %></td>
    <td><%= post.comments.count %>件</td>
    <td><%= link_to "詳細", post_path(post.id) %></td>
  </tr>
</tbody>