<div class="container-fluid w-75 my-3">
  <div class="row">
    <div class="col-3">
      <%= render "search_word" %>
      <%= render "search_tag" %>
      <% if current_user.name != "guestuser" %>
        <h5 class="font-weight-bold mt-5">＜新規投稿＞</h5>
        <p><%= link_to "投稿する", new_post_path, class: "btn btn-primary btn-lg" %></p>
        <h5 class="font-weight-bold mt-5">＜非公開（下書き）＞</h5>
        <p><%= link_to "非公開（下書き）一覧", post_draft_path(current_user), class: "btn btn-secondary" %></p>
      <% end %>
    </div>
    <div class="col-9">
      <h2 class="font-weight-bold">＜投稿一覧＞</h2>
      <% if @posts.present? %>
        <table class="table table-bordered text-center">
          <tr class="table table-secondary">
            <th scope="col"></th>
            <th scope="col">投稿者</th>
            <th scope="col">タイトル</th>
            <th scope="col">タグ</th>
            <th scope="col">日時</th>
            <th scope="col">場所</th>
            <th scope="col">いいね</th>
            <th scope="col">コメント</th>
            <th scope="col"></th>
          </tr>
          <% @posts.each do |post| %>
          <tr>
            <td><%= image_tag post.get_image(100, 100) %></td>
            <td><%= post.user.display_name %></td>
            <td><%= post.title %></td>
            <td>
              <% post.tags.each do |tag| %>
                <p><%= tag.name %></p>
              <% end %>
            </td>
            <td><%= post.time %></td>
            <td><%= post.place %></td>
            <td>♥<%= post.favorites.count %></td>
            <td><%= post.comments.count %>件</td>
            <td><%= link_to "詳細", post_path(post.id) %></td>
          </tr>
          <% end %>
        </table>
      <% else %>
        <p class="text-center my-5">投稿が見つかりませんでした</p>
      <% end %>
    </div>
  </div>
</div>