<!--投稿一覧-->
<div class="container-fluid w-75 my-3">
  <div class="SearchForm d-inline-flex justify-content-end w-100 my-3">
    <%= render "search_word" %>
    <%= render "search_tag" %>
  </div>
  
  <div class="PostList">
    <div class="PostListMenu d-inline-flex justify-content-between w-100">
      <h2 class="font-weight-bold">＜投稿一覧＞</h2>
      <div class="PostBtn">
        <% if current_user.name != "guestuser" %>
          <%= link_to "新規投稿", new_post_path, class: "btn btn-info mr-4" %>
          <%= link_to "非公開（下書き）一覧", post_draft_path(current_user), class: "btn btn-secondary" %>
        <% end %>
      </div>
    </div>
    <%= render "posts_table", posts: @posts %>
    
    <div class="Pagination justify-content-center">
      <%= paginate @posts %>
    </div>
  </div>
</div>