<!--バリデーションエラー-->
<%= render "error_messages", post: @post %>

<!--新規投稿-->
<div class="container mt-3">
  <div class="d-flex">
    <h2 class="font-weight-bold">＜新規投稿＞</h2>
    <%= link_to "非公開（下書き）一覧", post_draft_path(current_user), class: "btn btn-outline-secondary ml-5" %>
  </div>
  <%= form_with model: @post do |f| %>
    <%= render "form_post", f: f %>
    <%= f.submit "投稿する", class: "btn btn-success my-2" %>
  <% end %>
</div>