<div class="container">
  <div class="row">
    <% if @user == current_user %>
    <div class="col">
      <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-success" %>
      <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-4">
      <%= image_tag @post.get_image(200, 200) %>
      <%= render "favorites", post: @post %>
      <% @post.tags.each do |tag| %>
        <p>タグ：<%= tag.name %></p>
      <% end %>
    </div>
    <div class="col-8">
      <p>ユーザー名：<%= @user.display_name %></p>
      <%= @post.title %>
      <%= @post.body %>
      <p>時間：<%= @post.time %></p>
      <p>場所：<%= @post.place %></p>
      <p>持ち物：<%= @post.belonging %></p>
      <div class="comment_list">
        <p>コメント数：<%= @post.comments.count %></p>
        <% @post.comments.each do |comment| %>
          <%= image_tag comment.user.get_profile_image(100, 100) %>
          <%= comment.user.name %>
          <%= comment.content %>
          <% if comment.user == current_user %>
            <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
          <% end %>
        <% end %>
      </div>
      <div class="comment_form form-group field">
        <%= form_with model: [@post, @comment] do |f| %>
          <%= f.label :"新規コメント", class: "control-label" %>
          <%= f.text_area :content, class: "form-control" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>