<div class="container mt-3">
  <div class="row">
    <h2 class="font-weight-bold">＜投稿詳細＞</h2>
    <% if @user == current_user %>
    <div class="col text-right">
      <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-success" %>
      <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
    </div>
    <% end %>
  </div>
  <div class="row mt-3">
    <div class="col-4 text-center">
      <div class="post-image border-bottom">
        <%= image_tag @post.get_image(200, 200) %>
        <div id="favorites-btn_<%= @post.id %>">
          <%= render "public/favorites/favorites-btn", post: @post %>
        </div>
        <% @post.tags.each do |tag| %>
          <p>#<%= tag.name %></p>
        <% end %>
      </div>
      <div class="post-user mt-3">
        <p class="font-weight-bold mb-0">投稿者</p>
        <%= link_to user_path(@user) do %>
          <%= image_tag @user.get_profile_image(120, 120), class: "rounded-circle" %><br>
          <%= @user.display_name %>
        <% end %>
      </div>
    </div>
    <div class="col-8">
      <table class="table table-bordered">
        <tr>
          <th scope="row" class="table-secondary" style="width: 20%">タイトル</th>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <th scope="row" class="table-secondary">日時</th>
          <td><%= @post.time %></td>
        </tr>
        <tr>
          <th scope="row" class="table-secondary">場所</th>
          <td><%= @post.place %></td>
        </tr>
        <tr>
          <th scope="row" class="table-secondary">持ち物</th>
          <td><%= @post.belonging %></td>
        </tr>
        <tr>
          <th scope="row" class="table-secondary">詳細情報</th>
          <td><%= simple_format(h(@post.body)) %></td>
        </tr>
      </table>
      <% unless @user.id == current_user.id || current_user.name == "guestuser" %>
        <div class="matching-btn text-right">
          <% if current_user.following?(@user) %>
            <%= link_to "辞退する", user_matchings_path(@user.id), method: :delete, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "Let's play Sports!!", user_matchings_path(@user.id), method: :post, class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="room-link-btn text-right mt-2">
          <% if @user.followers.include?(current_user) %>
          <%= form_with model: @room, url: rooms_path do |f| %>
          <% if @is_room == true %>
            <%= link_to room_path(@room_id) do %>
              <%= f.submit "チャットへ", class: "btn btn-primary" %>
            <% end %>
          <% else %>
              <%= fields_for @user_room do |ur| %>
                <%= ur.hidden_field :user_id, value: @user.id %>
              <% end %>
              <%= f.hidden_field :post_id, value: @post.id %>
              <%= f.submit "チャットを始める", class: "btn btn-primary" %>
            <% end %>
          <% end %>
          <% end %>
        </div>
      <% end %>
      <div id="comment">
        <%= render "public/comments/comment", post: @post, comment: @comment %>
      </div>
    </div>
  </div>
</div>