<div class="container mt-3">
  <div class="row">
    <h2 class="font-weight-bold">＜投稿詳細＞</h2>
    <% if @user == current_user %>
    <div class="col text-right">
      <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-success" %>
      <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
    </div>
    <% end %>
  </div>
  <div class="row mt-3">
    <div class="col-4">
      <%= image_tag @post.get_image(200, 200) %>
      <div id="favorites-btn_<%= @post.id %>">
        <%= render "public/favorites/favorites-btn", post: @post %>
      </div>
      <% @post.tags.each do |tag| %>
        <p>#<%= tag.name %></p>
      <% end %>
    </div>
    <div class="col-8">
      <table class="table table-bordered">
        <tr>
          <th scope="row" class="table-secondary" style="width: 20%">投稿者</th>
          <td><%= @user.display_name %></td>
        </tr>
        <tr>
          <th scope="row" class="table-secondary">タイトル</th>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <th scope="row" class="table-secondary">日時</th>
          <td><%= @post.time %></td>
        </tr>
        <tr>
          <th scope="row" class="table-secondary">場所</th>
          <td><%= @post.place %></td>
        </tr>
        <tr>
          <th scope="row" class="table-secondary">持ち物</th>
          <td><%= @post.belonging %></td>
        </tr>
        <tr>
          <th scope="row" class="table-secondary">詳細情報</th>
          <td><%=safe_join(@post.body.split("\n"),tag(:br))%></td>
        </tr>
      </table>
      <div class="matching-btn text-right">
        <% if current_user.following?(@user) %>
          <%= link_to "辞退する", user_matchings_path(@user.id), method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Let's play Sports!!", user_matchings_path(@user.id), method: :post, class: "btn btn-primary" %>
        <% end %>
      </div>
      <div id="comment">
        <%= render "public/comments/comment", post: @post, comment: @comment %>
      </div>
    </div>
  </div>
</div>