<% @user_rooms.each do |ur| %>
  <% if ur.user != current_user %>
    <h5><%= link_to "@#{ur.user.display_name}", user_path(ur.user_id) %></h5>
  <% end %>
<% end %>

<div id="chats">
  <%= render "public/chats/chat", chat: @chats %>
</div>

<%= form_with model: @chat do |f| %>
  <div class="chat_form form-group field">
    <%= f.label "新しいメッセージ", class: "control-label" %>
    <%= f.text_field :message, class: "form-control" %>
  </div>
<% end %>