<% chats.each do |chat| %>
  <table class="w-100" style="table-layout: fixed;">
    <% if chat.user_id == current_user.id %>
      <tr class="text-right">
        <td>
          <h6><%= chat.message %></h6>
          <h6 style="color: #C0C0C0;"><%= chat.created_at.strftime("%Y/%m/%d %H:%M") %></h6>
        </td>
        <td width="10%">
          <%= image_tag chat.user.get_profile_image(100, 100), class: "rounded-circle" %><br>
          <%= simple_format(h(chat.user.name)) %>
        </td>
      </tr>
    <% else %>
      <tr class="text-left">
        <td width="10%">
          <%= image_tag chat.user.get_profile_image(100, 100), class: "rounded-circle" %><br>
          <%= chat.user.name %>
        </td>
        <td>
          <h6><%= chat.message %></h6>
          <h6 style="color: #C0C0C0;"><%= chat.created_at.strftime("%Y/%m/%d %H:%M") %></h6>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>