<!--いいねボタン-->
<% if current_user != User.guest %>
  <% if post.favorited_by?(current_user) %>
    <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
      <div style="color: red">♥<%= post.favorites.count %></div>
    <% end %>
  <% else %>
    <%= link_to post_favorites_path(post), method: :post, remote: true do %>
      ♡<%= post.favorites.count %>
    <% end %>
  <% end %>
<% else %>
  <p>
    <span style="color: red">♥<%= post.favorites.count %></span></br>
    <small>いいね機能を利用するためには、<br>
    アカウントを作成する必要があります</small>
  </p>
<% end %>