<!--バリデーションエラー-->
<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました。
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<!--投稿編集-->
<div class="container-fluid w-75 my-3">
  <h2 class="font-weight-bold"><i class="fas fa-edit"></i> 投稿編集</h2>
  <div class="PostForm">
    <%= form_with model: [:admin, @post] do |f| %>
      <div class="form-group field">
        <%= f.label :"イメージ画像" %><br>
        <%= f.file_field :image, accept: "image/*" %>
      </div>
      <div class="form-group field">
        <%= f.label :"タグ ※最大5個まで", class: "control-label" %><br>
        <%= f.text_field :tag, value: @post.tags.pluck(:name).join(','), placeholder: "野球 キャッチボール 初心者", class: "form-control col-sm-6" %>
      </div>
      <div class="form-group field">
        <%= f.label :"タイトル", class: "control-label" %>
        <%= f.text_field :title, placeholder: "キャッチボール", class: "form-control col-sm-6" %>
      </div>
      <div class="form-group field">
        <%= f.label :"日時", class: "control-label" %>
        <%= f.datetime_field :since_when, class: "form-control col-sm-6" %>
      </div>
      <div class="form-group field">
        <%= f.label :"場所", class: "control-label" %>
        <%= f.text_field :at_where, placeholder: "テスト公園", class: "form-control col-sm-6" %>
      </div>
      <div class="form-group field">
        <%= f.label :"持ち物", class: "control-label" %>
        <%= f.text_field :for_playing, placeholder: "グローブ", class: "form-control col-sm-6" %>
      </div>
      <div class="form-group field">
        <%= f.label :"詳細情報", class: "control-label" %>
        <%= f.text_area :body, placeholder: "宜しくお願いします", class: "form-control col-sm-6" %>
      </div>
      <div class="form-group field">
        <%= f.label :"公開" %>
        <%= f.radio_button :status, :public %><br>
        <%= f.label :"非公開（下書き）" %>
        <%= f.radio_button :status, :private %>
      </div>
      <%= f.submit "変更を保存する", class: "btn btn-success" %>
    <% end %>
  </div>
</div>