<div class="container-fluid w-75 my-3">
  <div class="row">
    <div class="col-3">
      <%= render "search_word" %>
      <%= render "search_tag" %>
    </div>
    <div class="col-9">
      <h2 class="font-weight-bold">＜投稿一覧＞</h2>
      <table class="table table-bordered text-center">
        <tr class="table table-secondary">
          <th scope="col"></th>
          <th scope="col">投稿者</th>
          <th scope="col">タイトル</th>
          <th scope="col">タグ</th>
          <th scope="col">日時</th>
          <th scope="col">場所</th>
          <th scope="col">いいね</th>
          <th scope="col">コメント</th>
          <th scope="col"></th>
        </tr>
        <% @posts.each do |post| %>
        <tr>
          <td><%= image_tag post.get_image(100, 100) %></td>
          <td><%= post.user.display_name %></td>
          <td><%= post.title %></td>
          <td>
            <% post.tags.each do |tag| %>
              <p><%= tag.name %></p>
            <% end %>
          </td>
          <td><%= post.time %></td>
          <td><%= post.place %></td>
          <td>♥<%= post.favorites.count %></td>
          <td><%= post.comments.count %>件</td>
          <td><%= link_to "詳細", admin_post_path(post.id) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>