<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to "編集", edit_admin_post_path(@post.id), class: "btn btn-success" %>
      <%= link_to "削除", admin_post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <%= image_tag @post.get_image(200, 200) %>
      <p>♥<%= @post.favorites.count %>いいね</p>
      <% @post.tags.each do |tag| %>
        <p>タグ：<%= tag.name %></p>
      <% end %>
    </div>
    <div class="col-8">
      <p>ユーザー名：<%= @user.display_name %></p>
      <%= @post.title %>
      <%= @post.body %>
      <p>時間：<%= @post.time %></p>
      <p>場所：<%= @post.place %></p>
      <p>持ち物：<%= @post.belonging %></p>
      <div class="comment_list">
        <p>コメント数：<%= @post.comments.count %></p>
        <% @post.comments.each do |comment| %>
          <%= image_tag comment.user.get_profile_image(100, 100) %>
          <%= comment.user.name %>
          <%= comment.content %>
          <%= link_to "削除", admin_post_comment_path(comment.post, comment), method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</div>