<% visitor = notification.visitor %>
<% visited = notification.visited %>
  <div class="notifications">
    <span>
      <%= link_to user_path(visitor) do %>
        <%= image_tag visitor.get_profile_image(100, 100) %>
        <%= visitor.display_name %>
      <% end %>
      さん
    </span>
    <span>
      <% case notification.action
        when "follow" then %>
          マッチングしました
        <% when "favorite" then %>
          <%= link_to "あなたの投稿", notification.post %>にいいねしました
        <% when "comment" then %>
          <% if notification.post.user_id == visited.id %>
            <%= link_to "あなたの投稿", notification.post %>にコメントしました
          <% else %>
            <%= link_to post_path(notification.post) do %>
              <%= image_tag notification.post.user.get_profile_image(100, 100) %>
              <%= notification.post.user.display_name %>さんの投稿
            <% end %>
            にコメントしました
          <% end %>
        <% when "chat" then %>
          <% if notification.chat.user_id == visitor.id %>
            <%= link_to room_path(notification.chat) do %>
              チャット
            <% end %>
            を送信しました
          <% end %>
      <% end %>
      <%= time_ago_in_words(notification.created_at).upcase %>
    </span>
  </div>