<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました。
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container mt-3">
  <h2 class="font-weight-bold">＜ユーザー編集画面＞</h2>
  <div class="row d-block">
     <%= form_with model: @user do |f| %>
      <div class="col">
        <table class="table table-bordered">
          <tr>
            <th scope="row" class="form-group field table-secondary"><%= f.label :"プロフィール画像", class: "control-label" %></th>
            <td><%= f.file_field :profile_image, accept: "image/*", class: "form-control" %></td>
          </tr>
          <tr>
            <th scope="row" class="form-group field table-secondary"><%= f.label :"氏名", class: "control-label" %></th>
            <td><%= f.text_field :name, class: "form-control" %></td>
          </tr>
          <tr>
            <th scope="row" class="form-group field table-secondary"><%= f.label :"電話番号", class: "control-label" %></th>
            <td><%= f.text_field :telephone_number, class: "form-control" %></td>
          </tr>
          <tr>
            <th scope="row" class="form-group field table-secondary"><%= f.label :"メールアドレス", class: "control-label" %></th>
            <td><%= f.text_field :email, class: "form-control" %></td>
          </tr>
          <tr>
            <th scope="row" class="form-group field table-secondary"><%= f.label :"ユーザー名", class: "control-label" %></th>
            <td><%= f.text_field :display_name, class: "form-control" %></td>
          </tr>
          <tr>
            <th scope="row" class="form-group field table-secondary"><%= f.label :"都道府県", class: "control-label" %></th>
            <td><%= f.text_field :prefecture, class: "form-control" %></td>
          </tr>
          <tr>
            <th scope="row" class="form-group field table-secondary"><%= f.label :"市区町村", class: "control-label" %></th>
            <td><%= f.text_field :municipality, class: "form-control" %></td>
          </tr>
          <tr>
            <th scope="row" class="form-group field table-secondary"><%= f.label :"自己紹介", class: "control-label" %></th>
            <td><%= f.text_area :self_introduction, class: "form-control" %></td>
          </tr>
        </table>
        <p class="text-right"><%= f.submit "保存", class: "btn btn-success" %></p>
      </div>
    <% end %>
  </div>
  
  <div class="row">
    <div class="col">
      <p class="text-right"><u><%= link_to user_unsubscribe_path(current_user) do %>退会を希望する<% end %></u></p>
    </div>
  </div>
</div>